.jumbotron {
  background-image:url("https://cache.desktopnexus.com/thumbseg/1356/1356291-bigthumbnail.jpg")
}





<!DOCTYPE html>
<html>

<head>
  body {
  color : red;
 }
h1 {
  color : white; 
 }
h2 {
  color : white;
}
h3 {
  color : plum;
  }
  
h5 {
  color : lavender;
  }  

</head>
  <body>
  </body>
</html>

#mainNav {
        overflow: hidden;
        background-color: transparent;
    	color: #333;
        position: fixed; /* Set the navbar to fixed position */
        top: 0; /* Position the navbar at the top of the page */
        width: 100%; /* Full width */
    }
    .navbar a{
    	color: white;
    }
